# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo & build
.expo/
.expo-shared/
web-build/
dist/
build/

# macOS
.DS_Store

# Environment
.env
.env.local
.env.production
.env.development

# IDEs
.vscode/
.idea/

# System
Thumbs.db
